name: main

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - name: Change wrapper permissions
      run: chmod +x ./gradlew
    - name: Run ktlint
      run: ./gradlew ktlintCheck
    - name: Run tests
      run: ./gradlew test
